@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container .shoe-box{
    /* border: 2px solid green; */
    position: absolute;
    left: 22%;
    width: 280px;
    height: 400px;
    background-image: linear-gradient(to bottom,#d84515,#f89e2d);
}
.container .shoe-box h1{
    margin-top: 50px;
    text-align: center; 
    font-size: 90px;
    color: #fa883a;
}
.container .shoe-box img{
    height:300px;
    width: 400px;
    position: relative;
    transform:rotate(-20deg);
    right:40%;
    bottom: 18%;
}
.container .another-box{
    box-shadow: 2px 2px 10px rgb(161, 140, 140);
    height:420px;
    width: 300px;
}
.container .another-box .top {
    margin: 15px 0px 0px 15px;
}
.container .another-box .top b{
    font-size: 25px;
    margin-right: 10px;
}
.container .another-box .top span{
    color: white;
    background-color: #ff5521;
    border-radius: 2px;
    
}
.container .another-box p{
    margin: 0px 0px 5px 15px;
}
.container .another-box h3{
    margin: 5px 0px 5px 15px;
}
.container .another-box hr{
    margin: 15px;
}
.container .another-box .number{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .another-box .number b{
    margin: 10px;
    /* border: 2px solid black; */
    padding: 5px 8px;
    box-shadow: 2px 2px 8px rgb(173, 171, 171);
    border-radius: 5px;

}
.container .another-box .number b:hover{
    background-color:#ff5521 ;
    color: white;
}
.container .another-box .card{
    background-color:#ff5521 ;
    color: white;
    padding: 5px;
    margin: 15px 10px 20px 15px;
    text-align: left;
    width: 150px;
}
.container .another-box .dollar{
    text-align: right;
    margin-right: 15px;
}
.container .another-box .dollar span{
    font-size: 27px;
}
